/* Popup arka planı (sayfanın tamamını kaplayan alan) */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam siyah arka plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup içeriği (ortadaki kutu) */
.popup-content {
  background-color: #222; /* ark*/
  padding: 20px;
  max-width: 600px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #ffcc00; /* Sarı çerçeve rengi*/
  box-shadow: 0 0 10px #ffcc00; /* Hafif sarı ışık efekti */
  position: relative;
}

/* Popup kapatma butonu */
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

/* Popup içindeki resim */
.popup-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Popup butonları */
.popup-button {
  margin-top: 20px;
  background-color: #ffcc00; /* Buton rengi */
  color: #000; /* Buton y */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

/* Buton hover efekti */
.popup-button:hover {
  background-color: #e6b800; /* Buton hover */
}

/* Buton bloğu */
.delas-popup-button-block {
  margin-top: 15px;
}

/* İç çerçeve ve ışık efekti */
.popup-inner-bc {
  box-shadow: 0 0 10px #ffcc00;
  border-radius: 20px;
}
